* {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: cornsilk;
}

#name {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#name button {
    background-color: black;
    color: aliceblue;
    border-radius: 10vh;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gamecolumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#game div{
    border: 1px solid black;
    box-sizing: border-box;
}

#buttons {
    display: flex;
    gap: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}